<section class="listing">
    <img class="listing-photo" [src]="productLocation.photo" alt="Exterior photo of {{productLocation.name}}">
    <h2 class="listing-heading">{{ productLocation.name }}</h2>
    <p class="listing-information">⭐Rating: {{ productLocation.rating }}</p>
    <p class="listing-information">Description: {{ productLocation.descrip }}</p>
    <p class="listing-information"> Delivery: {{ productLocation.delivery }} </p>
    <a [href]="productLocation.linkKaspi">Kaspi</a>
    <a [href]="getEncodedWhatsAppLink()" target="_blank" class="share-link">Поделиться в WhatsApp</a>
    <a [href]="getEncodedTelegramLink()" target="_blank" class="share-link">Поделиться в Telegram</a>
    <!-- <button class="primary" type="button" (click)="shareOnWhatsApp(productLocation.linkKaspi)">Share to WhatsApp</button>
    <button class="primary" type="button" (click)="shareOnTelegram(productLocation.linkKaspi)">Share to Telegram</button> -->
    
</section>